{% extends 'base-admin.html.twig' %}

{% block content %}
    <h1>Products list</h1>

    <a class="btn btn-primary" href="{{ path('admin_product_new') }}">Create a new product</a>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Barcode number</th>
                <th>Number</th>
                <th>Stock count</th>
                <th>Vendor number</th>
                <th>Cost price</th>
                <th>External ID</th>
                <th>Google feed category</th>
                <th>Is gift certificate</th>
                <th>Is modified</th>
                <th>Is rate variants</th>
                <th>Is review variants</th>
                <th>Is variant master</th>
                <th>Location number</th>
                <th>Manufacturere ID list</th>
                <th>Max buy amount</th>
                <th>Min buy amount</th>
                <th>Min buy amount b2b</th>
                <th>Picture</th>
                <th>Sales count</th>
                <th>Sort order</th>
                <th>Stock limit</th>
                <th>Type ID</th>
                <th>Variant group ID list</th>
                <th>Variant ID list</th>
                <th>Variant master ID</th>
                <th>Weight</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                    <td>{{ product.barCodeNumber }}</td>
                    <td>{{ product.number }}</td>
                    <td>{{ product.stockCount }}</td>
                    <td>{{ product.vendorNumber }}</td>
                    <td>{{ product.costPrice }}</td>
                    <td>{{ product.externalId }}</td>
                    <td>{{ product.googleFeedCategory }}</td>
                    <td>{% if product.isGiftCertificate %}Yes{% else %}No{% endif %}</td>
                    <td>{% if product.isModified %}Yes{% else %}No{% endif %}</td>
                    <td>{% if product.isRateVariants %}Yes{% else %}No{% endif %}</td>
                    <td>{% if product.isReviewVariants %}Yes{% else %}No{% endif %}</td>
                    <td>{% if product.isVariantMaster %}Yes{% else %}No{% endif %}</td>
                    <td>{{ product.locationNumber }}</td>
                    <td>{% if product.manufacturereIdList %}{{ product.manufacturereIdList|join(', ') }}{% endif %}</td>
                    <td>{{ product.maxBuyAmount }}</td>
                    <td>{{ product.minBuyAmount }}</td>
                    <td>{{ product.minBuyAmountB2B }}</td>
                    <td>{{ product.picture }}</td>
                    <td>{{ product.salesCount }}</td>
                    <td>{{ product.sortOrder }}</td>
                    <td>{{ product.stockLimit }}</td>
                    <td>{{ product.typeId }}</td>
                    <td>{% if product.variantGroupIdList %}{{ product.variantGroupIdList|join(', ') }}{% endif %}</td>
                    <td>{% if product.variantIdList %}{{ product.variantIdList|join(', ') }}{% endif %}</td>
                    <td>{{ product.variantMasterId }}</td>
                    <td>{{ product.weight }}</td>
                    <td>{% if product.created %}{{ product.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_product_show', { 'id': product.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
