{% extends 'base-admin.html.twig' %}

{% block content %}
    <h1>Products list</h1>

    <a class="btn btn-primary" href="{{ path('admin_product_new') }}">Create a new product</a>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Barcode number</th>
                <th>Number</th>
                <th>Stock count</th>
                <th>Vendor number</th>
                <th>Cost price</th>
                <th>External ID</th>
                <th>Google feed category</th>
                <th>Isgiftcertificate</th>
                <th>Ismodified</th>
                <th>Isratevariants</th>
                <th>Isreviewvariants</th>
                <th>Isvariantmaster</th>
                <th>Locationnumber</th>
                <th>Manufacturereidlist</th>
                <th>Maxbuyamount</th>
                <th>Minbuyamount</th>
                <th>Minbuyamountb2b</th>
                <th>Picture</th>
                <th>Salescount</th>
                <th>Segmentidlist</th>
                <th>Sortorder</th>
                <th>Stocklimit</th>
                <th>Typeid</th>
                <th>Updated</th>
                <th>Updatedby</th>
                <th>Variantgroupidlist</th>
                <th>Variantidlist</th>
                <th>Variantmasterid</th>
                <th>Weight</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                    <td>{{ product.barCodeNumber }}</td>
                    <td>{{ product.number }}</td>
                    <td>{{ product.stockCount }}</td>
                    <td>{{ product.vendorNumber }}</td>
                    <td>{{ product.costPrice }}</td>
                    <td>{{ product.externalId }}</td>
                    <td>{{ product.googleFeedCategory }}</td>
                    <td>{% if product.isGiftCertificate %}Yes{% else %}No{% endif %}</td>
                    <td>{% if product.isModified %}Yes{% else %}No{% endif %}</td>
                    <td>{% if product.isRateVariants %}Yes{% else %}No{% endif %}</td>
                    <td>{% if product.isReviewVariants %}Yes{% else %}No{% endif %}</td>
                    <td>{% if product.isVariantMaster %}Yes{% else %}No{% endif %}</td>
                    <td>{{ product.locationNumber }}</td>
                    <td>{% if product.manufacturereIdList %}{{ product.manufacturereIdList|join(', ') }}{% endif %}</td>
                    <td>{{ product.maxBuyAmount }}</td>
                    <td>{{ product.minBuyAmount }}</td>
                    <td>{{ product.minBuyAmountB2B }}</td>
                    <td>{{ product.picture }}</td>
                    <td>{{ product.salesCount }}</td>
                    <td>{% if product.segmentIdList %}{{ product.segmentIdList|join(', ') }}{% endif %}</td>
                    <td>{{ product.sortOrder }}</td>
                    <td>{{ product.stockLimit }}</td>
                    <td>{{ product.typeId }}</td>
                    <td>{% if product.updated %}{{ product.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ product.updatedBy }}</td>
                    <td>{% if product.variantGroupIdList %}{{ product.variantGroupIdList|join(', ') }}{% endif %}</td>
                    <td>{% if product.variantIdList %}{{ product.variantIdList|join(', ') }}{% endif %}</td>
                    <td>{{ product.variantMasterId }}</td>
                    <td>{{ product.weight }}</td>
                    <td>{% if product.created %}{{ product.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_product_show', { 'id': product.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
