{% extends 'base-admin.html.twig' %}

{% block content %}
    <h1>Category edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Edit" />
        <a class="btn btn-info" href="{{ path('admin_category_index') }}">Back to the list</a>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
