{% extends 'base-admin.html.twig' %}

{% block content %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.translate(locale).description }}</td>
            </tr>
            <tr>
                <th>Hidden</th>
                <td>{% if category.translate(locale).hidden %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Meta description</th>
                <td>{{ category.translate(locale).metaDescription }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.translate(locale).name }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ category.translate(locale).title }}</td>
            </tr>
            <tr>
                <th>Url name</th>
                <td>{{ category.translate(locale).urlname }}</td>
            </tr>
            <tr>
                <th>B2bgroupid</th>
                <td>{{ category.b2bGroupId }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if category.createdDate %}{{ category.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Custominfolayout</th>
                <td>{{ category.customInfoLayout }}</td>
            </tr>
            <tr>
                <th>Customlistlayout</th>
                <td>{{ category.customListLayout }}</td>
            </tr>
            <tr>
                <th>Defaultparentid</th>
                <td>{{ category.defaultParentId }}</td>
            </tr>
            <tr>
                <th>Editeddate</th>
                <td>{% if category.editedDate %}{{ category.editedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Externalid</th>
                <td>{{ category.externalId }}</td>
            </tr>
            <tr>
                <th>Infolayout</th>
                <td>{{ category.infoLayout }}</td>
            </tr>
            <tr>
                <th>Internalid</th>
                <td>{{ category.internalId }}</td>
            </tr>
            <tr>
                <th>Listlayout</th>
                <td>{{ category.listLayout }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{% if category.modified %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Parentidlist</th>
                <td>{% if category.parentIdList %}{{ category.parentIdList|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Segmentidlist</th>
                <td>{% if category.segmentIdList %}{{ category.segmentIdList|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ category.translate(locale).keywords }}</td>
            </tr>
            <tr>
                <th>Category number</th>
                <td>{{ category.translate(locale).categoryNumber }}</td>
            </tr>
            <tr>
                <th>External ID</th>
                <td>{{ category.translate(locale).externalId }}</td>
            </tr>
            <tr>
                <th>Hidden mobile</th>
                <td>{% if category.translate(locale).hiddenMobile %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ category.translate(locale).icon }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ category.translate(locale).image }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ category.translate(locale).link }}</td>
            </tr>
            <tr>
                <th>Siteid</th>
                <td>{{ category.translate(locale).siteId }}</td>
            </tr>
            <tr>
                <th>Sort order</th>
                <td>{{ category.translate(locale).sortOrder }}</td>
            </tr>
            <tr>
                <th>String</th>
                <td>{{ category.translate(locale).string }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ category.createdBy }}</td>
            </tr>
            <tr>
                <th>Updatedby</th>
                <td>{{ category.updatedBy }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if category.deletedAt %}{{ category.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if category.createdAt %}{{ category.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if category.updatedAt %}{{ category.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
        <a class="btn btn-info" href="{{ path('admin_category_index') }}">Back to the list</a>
        <a class="btn btn-success" href="{{ path('admin_category_edit', { 'id': category.id }) }}">Edit</a>
        <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
